# App dependencies
celery==5.4.0
celery[redis]==5.4.0
eventlet==0.40.3
pydantic==2.10.6
omegaconf==2.3.0
requests

trl==0.19.1
transformers==4.53.3
sentence-transformers==5.1.0
sentencepiece==0.2.1
peft==0.17.1
outlines==1.2.4
git+https://github.com/bitsandbytes-foundation/bitsandbytes.git@multi-backend-refactor

--extra-index-url https://download.pytorch.org/whl/cpu
optimum-intel[openvino,nncf]
openvino==2025.3.0
openvino-genai==2025.3.0.0
