# App dependencies
celery==5.4.0
celery[redis]==5.4.0
eventlet==0.36.1
pydantic==2.10.6
omegaconf==2.3.0
requests

transformers
sentence-transformers
peft
trl
outlines
git+https://github.com/bitsandbytes-foundation/bitsandbytes.git@multi-backend-refactor

--extra-index-url https://download.pytorch.org/whl/cpu
optimum-intel[openvino,nncf]
openvino
openvino_genai
