# Environment file for the projects
.env
.framework

# Test cache
.pytest_cache
report.html

# Frontend files
frontend/node_modules
frontend/.next

# Server file
.venv
__pycache__

# Data file
logs
tmp
data
*.zip
backend/engine/bin
backend/server/bin
backend/engine/binary/bin
backend/server/binary/bin
