# Celery dependencies
celery==5.4.0
celery[redis]==5.4.0
eventlet==0.36.1
python-dotenv==1.0.0
requests==2.32.4

# Vector dependencies
langchain==0.3.8
langchain-chroma==0.2.2
langchain-community===0.3.8
chromadb==0.6.3
pysqlite3-binary==0.5.4
transformers
sentence-transformers==4.1.0
FlagEmbedding==1.2.8 # TODO: change to OpenVINO version
pypdf==6.0.0

# Inference dependencies
--extra-index-url "https://download.pytorch.org/whl/cpu"
openvino==2025.1.0
openvino_genai==2025.1.0
optimum-intel[openvino,nncf]==1.22.0
optimum==1.24.0
