# Celery dependencies
celery==5.4.0
celery[redis]==5.4.0
eventlet==0.36.1
watchdog==3.0.0
PyYAML==6.0.2
python-dotenv==1.0.0
requests==2.32.3
loguru==0.7.2

# Inference dependencies
openvino-dev==2024.3.0
optimum>=1.21.3
optimum-intel==1.18.2
nncf==2.12.0
outlines==0.0.43

# Vector dependencies
langchain==0.3.8
langchain-chroma==0.1.4
langchain-community===0.3.8
chromadb==0.5.18
pysqlite3-binary==0.5.2
sentence-transformers==3.0.1
FlagEmbedding==1.2.8 # TODO: change to OpenVINO version
pypdf==5.0.0

# Additional dependencies
fire==0.6.0
py-cpuinfo==9.0.0
psutil==6.0.0
scipy==1.14.0
scikit-learn==1.5.0
